@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

* {
  user-select: none;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
}

button,
input {
  border: none;

  &:focus {
    outline: none;
  }
}

img {
  -webkit-user-drag: none;
}
